<header class="navbar-container">
  <div class="nav-left">
    <button type="button" class="menu-toggle-btn">
      <svg class="toggle-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"/>
      </svg>
      <span>Ocultar Menú</span>
    </button>
  </div>

  <div class="user-info">
    <span class="user-role">Especialista QA</span>
    <div class="avatar-badge">QA</div>
  </div>
</header>
